// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'Maison-Neue';
    src: url('../fonts/cadiz-bold-webfont.eot');
    src: url('../fonts/cadiz-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cadiz-bold-webfont.woff2') format('woff2'),
         url('../fonts/cadiz-bold-webfont.woff') format('woff'),
         url('../fonts/cadiz-bold-webfont.ttf') format('truetype'),
         url('../fonts/cadiz-bold-webfont.svg#cadiz_boldbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Maison-Neue';
    src: url('../fonts/cadiz-light-webfont.eot');
    src: url('../fonts/cadiz-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cadiz-light-webfont.woff2') format('woff2'),
         url('../fonts/cadiz-light-webfont.woff') format('woff'),
         url('../fonts/cadiz-light-webfont.ttf') format('truetype'),
         url('../fonts/cadiz-light-webfont.svg#cadizlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Maison-Neue';
    src: url('../fonts/cadiz-regular-webfont.eot');
    src: url('../fonts/cadiz-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cadiz-regular-webfont.woff2') format('woff2'),
         url('../fonts/cadiz-regular-webfont.woff') format('woff'),
         url('../fonts/cadiz-regular-webfont.ttf') format('truetype'),
         url('../fonts/cadiz-regular-webfont.svg#cadiz_regularregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

page-moments {
    max-width: 400px;
    margin: 0 auto;
    display: block;
    left: 50%  !important;
    transform: translateX(-50%) !important;
}

page-emotions {
    max-width: 800px;
    margin: 0 auto;
    display: block;
    left: 50%  !important;
    top: 50%  !important;
    transform: translate3d(-50%, -50%, 0) !important;
}
